<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--logging-->
  <!--<system.diagnostics>
    <switches>
      <add name="TracerSwitch" value="4" />
    </switches>
  </system.diagnostics>-->
  <!--logging END-->
  
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobMentality.MobSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MobMentality.MobSettings>
            <setting name="TurnMinutes" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BreakMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TurnsTillBreak" serializeAs="String">
                <value>3</value>
            </setting>
        </MobMentality.MobSettings>
    </userSettings>
</configuration>